@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    background-color: #212121;
    font-family: 'Sacramento', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-wrapper {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.greeting-message {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0px 2px 1px orange, 0px 0px 6px orange, 0px 5px 10px rgba(0, 0, 0, 1);
}

.celebration-fireworks {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.celebration-fireworks li {
    display: inline-block;
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    background-color: #8d6e63;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.celebration-fireworks li::before,
.celebration-fireworks li::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #212121;
    border-radius: 50%;
}

.celebration-fireworks li::before {
    top: -40%;
    left: -30%;
}

.celebration-fireworks li::after {
    top: -40%;
    right: -30%;
}

.celebration-fireworks li span {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: rotate(45deg);
    animation: fire 0.3s ease infinite;
}

.celebration-fireworks li:nth-child(1) span {
    animation-delay: 0.5s;
}

.celebration-fireworks li:nth-child(2) span {
    animation-delay: 1s;
}

.celebration-fireworks li:nth-child(3) span {
    animation-delay: 1.5s;
}

.celebration-fireworks li:nth-child(4) span {
    animation-delay: 2s;
}

.celebration-fireworks li:nth-child(5) span {
    animation-delay: 2.5s;
}

.celebration-fireworks li:nth-child(6) span {
    animation-delay: 3s;
}

@keyframes fire {
    0%, 100% {
        transform: rotate(55deg);
        width: 20px;
        background: linear-gradient(90deg, orange, orangered);
    }

    50% {
        transform: rotate(35deg);
        width: 18px;
        background: linear-gradient(90deg, orangered, orange);
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .main-wrapper {
        width: 90%;
    }

    .greeting-message {
        font-size: 2rem;
    }

    .celebration-fireworks li {
        height: 40px;
        width: 40px;
        margin: 10px;
    }

    .celebration-fireworks li span {
        height: 15px;
        width: 15px;
    }
}

@media (max-width: 480px) {
    .greeting-message {
        font-size: 1.8rem;
    }

    .celebration-fireworks li {
        height: 35px;
        width: 35px;
        margin: 8px;
    }

    .celebration-fireworks li span {
        height: 12px;
        width: 12px;
    }
}
